.mobile .card .foreign { font-size: 1.75rem; }
.mobile .card .native { font-size: 1.25rem; }

.card .foreign { font-size: 1.5rem; }
.card .native { font-size: 1.0rem; }

.card { text-align: center; }
.card span { display: block; }

hr {
	height: 10px;
	border: none;
	opacity: 20%;
}
hr { background-color: black; }
.nightMode hr { background-color: white; }

.card.front #target-word-reading,
.card.front #target-word-translation,
.card.front #sentence-translation,
.card.front hr,
.card.front ruby rt.hidden {
	display: none;
}

#sentence-translation { margin-top: 1em; }

.spoiler {
	transition: filter 300ms;
	cursor: pointer;
}
.spoiler.hidden { filter: blur(0.3rem); }
.spoiler.visible { filter: blur(0rem); }
