body { margin: 0; }

.mobile #card .foreign { font-size: 1.75rem; }
.mobile #card .native { font-size: 1.25rem; }

#card .foreign { font-size: 1.5rem; }
#card .native { font-size: 1.0rem; }

#card { text-align: center; }
#card span { display: block; }

#separator {
	border: none;
	opacity: 20%;
	margin: 0;
}
#separator { background-color: black; }
.nightMode #separator { background-color: white; }

#card.horizontal-layout #separator { height: 10px; }
#card.vertical-layout #separator { width: 10px; }

#card.front #target-word-reading,
#card.front #target-word-translation,
#card.front #sentence-translation,
#card.front hr,
#card.front ruby rt.hidden {
	display: none;
}

#sentence-translation { margin-top: 1em; }

.spoiler {
	transition: filter 300ms;
	cursor: pointer;
}
.spoiler.hidden { filter: blur(0.3rem); }
.spoiler.visible { filter: blur(0rem); }

#card.vertical-layout > * { grid-row: 1; }
#card.vertical-layout {
	display: grid;
	grid-auto-columns: 1fr auto auto;
	height: 100vh;
	overflow: hidden;
}
#card.vertical-layout #back { flex-direction: column; }
#card.vertical-layout #back,
#card.vertical-layout #front {
	display: flex;
	justify-content: center;
}

#card.vertical-layout #back { grid-column: 1; }
#card.vertical-layout #separator { grid-column: 2; }
#card.vertical-layout #front { grid-column: 3; }

#card.horizontal-layout span,
#card.vertical-layout #back span {
	padding: 0 1em;
	margin: 0.5em auto;
}

#card.vertical-layout #sentence {
	padding: 1em 0;
	margin: auto 0.5em;
}

#card.vertical-layout #sentence {
	writing-mode: vertical-rl;
}

#card.horizontal-layout span,
#card.vertical-layout #back span {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

#card.vertical-layout #sentence {
	max-height: 30em;
}

